# Getting the postal codes and states of companies using their names and countries
-----
### 1. Google API Geocoding

##### 1. Transform the dataframe in to the proper format

In [1]:
import pandas as pd

xls = pd.ExcelFile('/Users/kitaeklee/Desktop/ListofAccounts__EN2.xlsx')
xl_file = pd.read_excel(xls)

In [2]:
# remove the first row which is empty
xl_file.drop([0], axis=0, inplace=True)

In [3]:
#Reset the index
xl_file.reset_index(inplace=True, drop=True)

In [4]:
# Apply the first row as a Header
header = xl_file.iloc[0]
xl_file.columns = header

In [5]:
# Drop the first row after apply the first row as a header
xl_file.drop([0], axis=0, inplace=True)

In [6]:
# Reset the index again
xl_file.reset_index(drop=True, inplace=True)

In [7]:
# create a new column 'address' to combine 'Company Name' and 'Country'
xl_file['address'] = xl_file['Account Name'] + ', ' + xl_file['Country']

In [8]:
# convert the data type to string
xl_file['address'] = xl_file['address'].astype(str)

In [9]:
# Create empty columns for latitudes and longitudes
xl_file['latitude'] = ''
xl_file['longitude'] = ''

In [10]:
xl_file['Full_Address'] = ''

In [11]:
xl_file

,Status,Account ID,Account Name,Country,Tier Class,Industry,Main Contact,State,Postal Code,address,latitude,longitude,Full_Address
0,Active,10000200,(주)고려아카데미컨설팅,South Korea,-,NaN,NaN,NaN,NaN,"(주)고려아카데미컨설팅, South Korea",,,
1,Active,1000495,"3D Industrial Imaging Co., Ltd.",South Korea,-,NaN,NaN,NaN,NaN,"3D Industrial Imaging Co., Ltd., South Korea",,,
2,Active,1000496,3H SYSTEM,South Korea,-,NaN,NaN,NaN,NaN,"3H SYSTEM, South Korea",,,
3,Active,1000497,"3SSOFT CO.,LTD.",South Korea,-,NaN,NaN,NaN,NaN,"3SSOFT CO.,LTD., South Korea",,,
4,Active,1000498,3ware (주)쓰리웨어,South Korea,-,NaN,NaN,NaN,NaN,"3ware (주)쓰리웨어, South Korea",,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,Active,1000465,ZENITH&COMPANY (주)제니스 앤 컴퍼니,South Korea,-,NaN,NaN,NaN,NaN,"ZENITH&COMPANY (주)제니스 앤 컴퍼니, South Korea",,,
973,Active,1000187,"ZensM CO., Ltd.",South Korea,-,NaN,NaN,NaN,NaN,"ZensM CO., Ltd., South Korea",,,
974,Active,1000122,Zing Semiconductor Corporation 上海新昇半导体科技有限公司,China,-,Semiconductor,JiangLan,NaN,NaN,"Zing Semiconductor Corporation 上海新昇半导体科技有限公司, ...",,,
975,Active,10000193,ZPMC SMART SOLUTIONS GROUP,China,-,NaN,"Wang, Zhenguo",NaN,NaN,"ZPMC SMART SOLUTIONS GROUP, China",,,
976,Blocked,10000199,北京博珥佐特软件科技有限公司,South Korea,-,NaN,NaN,NaN,NaN,"北京博珥佐特软件科技有限公司, South Korea",,,

##### 2. Use Google API to get states and postal codes firstly

In [12]:
pip install requests

Requirement already satisfied: requests in ./opt/anaconda3/lib/python3.7/site-packages (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in ./opt/anaconda3/lib/python3.7/site-packages (from requests) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in ./opt/anaconda3/lib/python3.7/site-packages (from requests) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in ./opt/anaconda3/lib/python3.7/site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.7/site-packages (from requests) (2019.9.11)
Note: you may need to restart the kernel to use updated packages.

Below is Def for extracting longitudes and latitudes from Google Geocoding API

In [13]:
import requests

GOOGLE_API_KEY = 'AIzaSyBC1EZSYwCfI9R4opYvLXPG3PBPBQwz_0o' 

def extract_lat_long_via_address(address_or_zipcode):
    lat, lng = None, None
    api_key = GOOGLE_API_KEY
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    endpoint = f"{base_url}?address={address_or_zipcode}&key={api_key}"
   
    r = requests.get(endpoint)
#    if r.status_code not in range(200, 299):
#        return None, None
    
    post_code, address, state = None, None, None
    
    try:
        '''
        This try block in case any of our inputs are invalid. This is done instead
        of actually writing out handlers for all kinds of responses.
        '''
        results = r.json()['results'][0]
        
        #1
        lat = results['geometry']['location']['lat']
        #2
        lng = results['geometry']['location']['lng']
       
        #3
        for i in results['address_components']:
            if i['types'][0] == 'postal_code':
                post_code = i['long_name']   
        
        #4
        if 'formatted_address' in results:
            address = results['formatted_address']
        
        #5
        for i in results['address_components']:
            if i['types'][0] == 'administrative_area_level_1':
                state = i['long_name']

                
    except:
        pass
    return lat, lng, post_code, address, state

Example of output for one company using Google API and extract_lat_long_via_address():

In [14]:

lat, lng = None, None
api_key = GOOGLE_API_KEY
address_or_zipcode = '(주)고려아카데미컨설팅, South Korea'
base_url = "https://maps.googleapis.com/maps/api/geocode/json"
endpoint = f"{base_url}?address={address_or_zipcode}&key={api_key}"
   
r = requests.get(endpoint)

results = r.json()['results'][0]

results

{'address_components': [{'long_name': '32',
   'short_name': '32',
   'types': ['premise']},
  {'long_name': 'Digital-ro 9-gil',
   'short_name': 'Digital-ro 9-gil',
   'types': ['political', 'sublocality', 'sublocality_level_4']},
  {'long_name': 'Gasan-dong',
   'short_name': 'Gasan-dong',
   'types': ['political', 'sublocality', 'sublocality_level_2']},
  {'long_name': 'Geumcheon-gu',
   'short_name': 'Geumcheon-gu',
   'types': ['political', 'sublocality', 'sublocality_level_1']},
  {'long_name': 'Seoul',
   'short_name': 'Seoul',
   'types': ['administrative_area_level_1', 'political']},
  {'long_name': 'South Korea',
   'short_name': 'KR',
   'types': ['country', 'political']},
  {'long_name': '153-023', 'short_name': '153-023', 'types': ['postal_code']}],
 'formatted_address': '32 Digital-ro 9-gil, Gasan-dong, Geumcheon-gu, Seoul, South Korea',
 'geometry': {'location': {'lat': 37.479449, 'lng': 126.887477},
  'location_type': 'ROOFTOP',
  'viewport': {'northeast': {'lat': 37.48079798029149,
    'lng': 126.8888259802915},
   'southwest': {'lat': 37.47810001970849, 'lng': 126.8861280197085}}},
 'place_id': 'ChIJVVVVVSSefDURXpXOB6LUJaw',
 'plus_code': {'compound_code': 'FVHP+QX Seoul, South Korea',
  'global_code': '8Q98FVHP+QX'},
 'types': ['establishment', 'point_of_interest']}

Loop through the 'address' and use Google Geocoding API to get latitude and longitude then put them in 'latitude' and 'longitude' columns.

It takes approximately 1 second to get one pair of latitude and longitude

In [15]:
z=0
for address in xl_file['address']:
    if z == 977:
        break
    
    dic = extract_lat_long_via_address(address)
    
    xl_file.loc[z, 'latitude'] = dic[0]
    xl_file.loc[z, 'longitude'] = dic[1]
    xl_file.loc[z, 'Postal Code'] = dic[2]
    xl_file.loc[z, 'Full_Address'] = dic[3]
    xl_file.loc[z, 'State'] = dic[4]

    
    z+=1

In [16]:
xl_file

,Status,Account ID,Account Name,Country,Tier Class,Industry,Main Contact,State,Postal Code,address,latitude,longitude,Full_Address
0,Active,10000200,(주)고려아카데미컨설팅,South Korea,-,NaN,NaN,Seoul,153-023,"(주)고려아카데미컨설팅, South Korea",37.4794,126.887,"32 Digital-ro 9-gil, Gasan-dong, Geumcheon-gu,..."
1,Active,1000495,"3D Industrial Imaging Co., Ltd.",South Korea,-,NaN,NaN,None,None,"3D Industrial Imaging Co., Ltd., South Korea",None,None,None
2,Active,1000496,3H SYSTEM,South Korea,-,NaN,NaN,None,None,"3H SYSTEM, South Korea",None,None,None
3,Active,1000497,"3SSOFT CO.,LTD.",South Korea,-,NaN,NaN,Seoul,137-130,"3SSOFT CO.,LTD., South Korea",37.4754,127.042,"262 Yangjae-dong, Seocho-gu, Seoul, South Korea"
4,Active,1000498,3ware (주)쓰리웨어,South Korea,-,NaN,NaN,Seoul,153-023,"3ware (주)쓰리웨어, South Korea",37.4813,126.884,"50-3 Gasan-dong, Geumcheon-gu, Seoul, South Korea"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,Active,1000465,ZENITH&COMPANY (주)제니스 앤 컴퍼니,South Korea,-,NaN,NaN,Missouri,65804,"ZENITH&COMPANY (주)제니스 앤 컴퍼니, South Korea",37.1779,-93.222,"3534 E Sunshine St #3, Springfield, MO 65804, USA"
973,Active,1000187,"ZensM CO., Ltd.",South Korea,-,NaN,NaN,None,None,"ZensM CO., Ltd., South Korea",None,None,None
974,Active,1000122,Zing Semiconductor Corporation 上海新昇半导体科技有限公司,China,-,Semiconductor,JiangLan,Shanghai,None,"Zing Semiconductor Corporation 上海新昇半导体科技有限公司, ...",31.2304,121.474,"Shanghai, China"
975,Active,10000193,ZPMC SMART SOLUTIONS GROUP,China,-,NaN,"Wang, Zhenguo",None,None,"ZPMC SMART SOLUTIONS GROUP, China",None,None,None
976,Blocked,10000199,北京博珥佐特软件科技有限公司,South Korea,-,NaN,NaN,Beijing,None,"北京博珥佐特软件科技有限公司, South Korea",39.9042,116.407,"Beijing, China"

----
##### Data Cleaning

There are rows with wrong information returned where it . Therefore, I will check if intially given countries are same as countries returned from Google API. If not, I will consider that as inaccurate information and remove all the information returned from Google API for those corresponding information of companies.

In [17]:
xl_file2 = xl_file.copy()

In [18]:
t=0
for address in xl_file2['Full_Address']:
    if address != None:
        if xl_file2.loc[t]['Country'] != xl_file2.loc[t]['Full_Address'].split(",")[-1].strip():
            xl_file2.loc[t]['State'] = None
            xl_file2.loc[t]['Postal Code'] = None
            xl_file2.loc[t]['latitude'] = None
            xl_file2.loc[t]['longitude'] = None
            xl_file2.loc[t]['Full_Address'] = None
            t+=1
        else:
            t+=1
    else:
        t+=1

In [19]:
xl_file2

,Status,Account ID,Account Name,Country,Tier Class,Industry,Main Contact,State,Postal Code,address,latitude,longitude,Full_Address
0,Active,10000200,(주)고려아카데미컨설팅,South Korea,-,NaN,NaN,Seoul,153-023,"(주)고려아카데미컨설팅, South Korea",37.4794,126.887,"32 Digital-ro 9-gil, Gasan-dong, Geumcheon-gu,..."
1,Active,1000495,"3D Industrial Imaging Co., Ltd.",South Korea,-,NaN,NaN,None,None,"3D Industrial Imaging Co., Ltd., South Korea",None,None,None
2,Active,1000496,3H SYSTEM,South Korea,-,NaN,NaN,None,None,"3H SYSTEM, South Korea",None,None,None
3,Active,1000497,"3SSOFT CO.,LTD.",South Korea,-,NaN,NaN,Seoul,137-130,"3SSOFT CO.,LTD., South Korea",37.4754,127.042,"262 Yangjae-dong, Seocho-gu, Seoul, South Korea"
4,Active,1000498,3ware (주)쓰리웨어,South Korea,-,NaN,NaN,Seoul,153-023,"3ware (주)쓰리웨어, South Korea",37.4813,126.884,"50-3 Gasan-dong, Geumcheon-gu, Seoul, South Korea"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,Active,1000465,ZENITH&COMPANY (주)제니스 앤 컴퍼니,South Korea,-,NaN,NaN,None,None,"ZENITH&COMPANY (주)제니스 앤 컴퍼니, South Korea",None,None,None
973,Active,1000187,"ZensM CO., Ltd.",South Korea,-,NaN,NaN,None,None,"ZensM CO., Ltd., South Korea",None,None,None
974,Active,1000122,Zing Semiconductor Corporation 上海新昇半导体科技有限公司,China,-,Semiconductor,JiangLan,Shanghai,None,"Zing Semiconductor Corporation 上海新昇半导体科技有限公司, ...",31.2304,121.474,"Shanghai, China"
975,Active,10000193,ZPMC SMART SOLUTIONS GROUP,China,-,NaN,"Wang, Zhenguo",None,None,"ZPMC SMART SOLUTIONS GROUP, China",None,None,None
976,Blocked,10000199,北京博珥佐特软件科技有限公司,South Korea,-,NaN,NaN,None,None,"北京博珥佐特软件科技有限公司, South Korea",None,None,None

Initially 232 companies out of 977 did not get lat and lng returned from Google API. Therefore, I got information of 745 companies. However, 300 out of 745 were inaccurate where it returned information of different country. It is because information provided for each company are lacking.

In [22]:
xl_file2['latitude'].isnull().sum()

532

411 companies out of 977 did not get postal code returned from Google API initially. Postal codes of 270 companies out of 566 postal codes I got were inaccurate therefore removed.

In [23]:
xl_file2['Postal Code'].isnull().sum()

681

265 companies out of 977 did not get State returned from Google API initially. 274 out of 713 were inaccurate therefore removed.

In [24]:
xl_file2['State'].isnull().sum()

539

232 companies out of 977 did not get the Full Address returned from Google API intially. 300 out of 745 were inaccurate therefore removed.

In [25]:
xl_file2['Full_Address'].isnull().sum()

532

---
### 2. Reversing Latitudes and Longitudes using Mapbox API

Since there are companies with latitudes and longitudes returned but not State or Postal Code, this time I will reverse latitudes and longitudes using Mapbox to see if there are any more firms I can get State or Postal Code returned.

-----
Using Mapbox, it will return the information like below for example:

In [26]:
xl_file3 = xl_file2.copy()

In [27]:
xl_file3

,Status,Account ID,Account Name,Country,Tier Class,Industry,Main Contact,State,Postal Code,address,latitude,longitude,Full_Address
0,Active,10000200,(주)고려아카데미컨설팅,South Korea,-,NaN,NaN,Seoul,153-023,"(주)고려아카데미컨설팅, South Korea",37.4794,126.887,"32 Digital-ro 9-gil, Gasan-dong, Geumcheon-gu,..."
1,Active,1000495,"3D Industrial Imaging Co., Ltd.",South Korea,-,NaN,NaN,None,None,"3D Industrial Imaging Co., Ltd., South Korea",None,None,None
2,Active,1000496,3H SYSTEM,South Korea,-,NaN,NaN,None,None,"3H SYSTEM, South Korea",None,None,None
3,Active,1000497,"3SSOFT CO.,LTD.",South Korea,-,NaN,NaN,Seoul,137-130,"3SSOFT CO.,LTD., South Korea",37.4754,127.042,"262 Yangjae-dong, Seocho-gu, Seoul, South Korea"
4,Active,1000498,3ware (주)쓰리웨어,South Korea,-,NaN,NaN,Seoul,153-023,"3ware (주)쓰리웨어, South Korea",37.4813,126.884,"50-3 Gasan-dong, Geumcheon-gu, Seoul, South Korea"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,Active,1000465,ZENITH&COMPANY (주)제니스 앤 컴퍼니,South Korea,-,NaN,NaN,None,None,"ZENITH&COMPANY (주)제니스 앤 컴퍼니, South Korea",None,None,None
973,Active,1000187,"ZensM CO., Ltd.",South Korea,-,NaN,NaN,None,None,"ZensM CO., Ltd., South Korea",None,None,None
974,Active,1000122,Zing Semiconductor Corporation 上海新昇半导体科技有限公司,China,-,Semiconductor,JiangLan,Shanghai,None,"Zing Semiconductor Corporation 上海新昇半导体科技有限公司, ...",31.2304,121.474,"Shanghai, China"
975,Active,10000193,ZPMC SMART SOLUTIONS GROUP,China,-,NaN,"Wang, Zhenguo",None,None,"ZPMC SMART SOLUTIONS GROUP, China",None,None,None
976,Blocked,10000199,北京博珥佐特软件科技有限公司,South Korea,-,NaN,NaN,None,None,"北京博珥佐特软件科技有限公司, South Korea",None,None,None

In [28]:
import geocoder

#key = token from Mapbox
z=0
for lat, lng in zip(xl_file3['latitude'], xl_file3['longitude']):
    latlng = [lat, lng]
    if latlng[0] == None:
        z+=1
        continue
    else:
        g = geocoder.mapbox(latlng, method='reverse', key='pk.eyJ1IjoieG9yOTIzNyIsImEiOiJja2hsYTRydHAxa3l4MnJucXB0YXZzeXFyIn0._r9Zw8FZ4rvarTcrcCJf-w')
        
        if 'postal' in g.json:
            xl_file3.loc[z, ['Postal Code']] = g.json['postal']
            if 'state' in g.json:
                xl_file3.loc[z,['State']] = g.json['state']
                z+=1
                continue
            else:
                z+=1
                continue
           
        elif 'state' in g.json:
            xl_file3.loc[z,['State']] = g.json['state']
            z+=1
            continue
        else:
            z+=1
            continue

In [39]:
xl_file3['latitude'].isnull().sum()

532

7 more companies got states as a result of reversing.

In [29]:
xl_file3['State'].isnull().sum()

532

14 more companies got postal codes as a result of reversing.

In [30]:
xl_file3['Postal Code'].isnull().sum()

667

In [31]:
xl_file3

,Status,Account ID,Account Name,Country,Tier Class,Industry,Main Contact,State,Postal Code,address,latitude,longitude,Full_Address
0,Active,10000200,(주)고려아카데미컨설팅,South Korea,-,NaN,NaN,Seoul,08512,"(주)고려아카데미컨설팅, South Korea",37.4794,126.887,"32 Digital-ro 9-gil, Gasan-dong, Geumcheon-gu,..."
1,Active,1000495,"3D Industrial Imaging Co., Ltd.",South Korea,-,NaN,NaN,None,None,"3D Industrial Imaging Co., Ltd., South Korea",None,None,None
2,Active,1000496,3H SYSTEM,South Korea,-,NaN,NaN,None,None,"3H SYSTEM, South Korea",None,None,None
3,Active,1000497,"3SSOFT CO.,LTD.",South Korea,-,NaN,NaN,Seoul,06776,"3SSOFT CO.,LTD., South Korea",37.4754,127.042,"262 Yangjae-dong, Seocho-gu, Seoul, South Korea"
4,Active,1000498,3ware (주)쓰리웨어,South Korea,-,NaN,NaN,Seoul,08510,"3ware (주)쓰리웨어, South Korea",37.4813,126.884,"50-3 Gasan-dong, Geumcheon-gu, Seoul, South Korea"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,Active,1000465,ZENITH&COMPANY (주)제니스 앤 컴퍼니,South Korea,-,NaN,NaN,None,None,"ZENITH&COMPANY (주)제니스 앤 컴퍼니, South Korea",None,None,None
973,Active,1000187,"ZensM CO., Ltd.",South Korea,-,NaN,NaN,None,None,"ZensM CO., Ltd., South Korea",None,None,None
974,Active,1000122,Zing Semiconductor Corporation 上海新昇半导体科技有限公司,China,-,Semiconductor,JiangLan,Shanghai,None,"Zing Semiconductor Corporation 上海新昇半导体科技有限公司, ...",31.2304,121.474,"Shanghai, China"
975,Active,10000193,ZPMC SMART SOLUTIONS GROUP,China,-,NaN,"Wang, Zhenguo",None,None,"ZPMC SMART SOLUTIONS GROUP, China",None,None,None
976,Blocked,10000199,北京博珥佐特软件科技有限公司,South Korea,-,NaN,NaN,None,None,"北京博珥佐特软件科技有限公司, South Korea",None,None,None

In [68]:
#xl_file.to_excel(r'/Users/kitaeklee/Desktop/ListofAccounts__EN1.xlsx', index = False)

---
### 3. Mapbox API Geocoding
Loop through the 'address' one more time using Mapbox API for rows with no information or inaccurate information returned from Google API to see if I can get any more address information for those companies.

In [32]:
xl_file4 = xl_file3.copy()

In [33]:
import geocoder
c=0
for lat in xl_file4['latitude']:
    try:
        if lat == None:
            g1 = geocoder.mapbox(xl_file4.loc[c, ['address']], key='pk.eyJ1IjoieG9yOTIzNyIsImEiOiJja2hsYTRydHAxa3l4MnJucXB0YXZzeXFyIn0._r9Zw8FZ4rvarTcrcCJf-w')
        
            if type(g1.json) is None:
                c+=1
                continue
                
            elif xl_file4.loc[c, ['Country']] != g1.json['country'].strip():
                c+=1
                continue
        
            else:
                if 'lat' in g1.json:
                    xl_file4.loc[c, ['latitude']] = g1.json['lat']
                else:
                    pass
            
                if 'lng' in g1.json:
                    xl_file4.loc[c, ['longitude']] = g1.json['lng']
                else:
                    pass
        
                if 'state' in g1.json:
                    xl_file4.loc[c, ['State']] = g1.json['state']
                else:
                    pass
        
                if 'postal' in g1.json:
                    xl_file4.loc[c, ['Postal Code']] = g1.json['postal']
                else:
                    pass
                c+=1
        
        else:
            c+=1
    except:
        pass

Status code 422 from https://api.mapbox.com/geocoding/v5/mapbox.places/0
address    Anfeng Venture Capital Co., LTD 安丰创业投资有限公司, China
Name: 58, dtype: object.json: ERROR - 422 Client Error: Unknown for url: https://api.mapbox.com/geocoding/v5/mapbox.places/0%0Aaddress%20%20%20%20Anfeng%20Venture%20Capital%20Co.,%20LTD%20%E5%AE%89%E4%B8%B0%E5%88%9B%E4%B8%9A%E6%8A%95%E8%B5%84%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8,%20China%0AName:%2058,%20dtype:%20object.json?access_token=pk.eyJ1IjoieG9yOTIzNyIsImEiOiJja2hsYTRydHAxa3l4MnJucXB0YXZzeXFyIn0._r9Zw8FZ4rvarTcrcCJf-w
Status code 422 from https://api.mapbox.com/geocoding/v5/mapbox.places/0
address    GRUNDFOS Pumps(Shanghai) Co. LTD 格兰富水泵（上海）有限公司...
Name: 309, dtype: object.json: ERROR - 422 Client Error: Unknown for url: https://api.mapbox.com/geocoding/v5/mapbox.places/0%0Aaddress%20%20%20%20GRUNDFOS%20Pumps(Shanghai)%20Co.%20LTD%20%E6%A0%BC%E5%85%B0%E5%AF%8C%E6%B0%B4%E6%B3%B5%EF%BC%88%E4%B8%8A%E6%B5%B7%EF%BC%89%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8...%0AName:%20309,%20dtype:%20object.json?access_token=pk.eyJ1IjoieG9yOTIzNyIsImEiOiJja2hsYTRydHAxa3l4MnJucXB0YXZzeXFyIn0._r9Zw8FZ4rvarTcrcCJf-w
Status code 422 from https://api.mapbox.com/geocoding/v5/mapbox.places/0
address    GRUNDFOS Pumps(Shanghai) Co. LTD 格兰富水泵（上海）有限公司...
Name: 309, dtype: object.json: ERROR - 422 Client Error: Unknown for url: https://api.mapbox.com/geocoding/v5/mapbox.places/0%0Aaddress%20%20%20%20GRUNDFOS%20Pumps(Shanghai)%20Co.%20LTD%20%E6%A0%BC%E5%85%B0%E5%AF%8C%E6%B0%B4%E6%B3%B5%EF%BC%88%E4%B8%8A%E6%B5%B7%EF%BC%89%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8...%0AName:%20309,%20dtype:%20object.json?access_token=pk.eyJ1IjoieG9yOTIzNyIsImEiOiJja2hsYTRydHAxa3l4MnJucXB0YXZzeXFyIn0._r9Zw8FZ4rvarTcrcCJf-w
Status code 422 from https://api.mapbox.com/geocoding/v5/mapbox.places/0
address    GRUNDFOS Pumps(Shanghai) Co. LTD 格兰富水泵（上海）有限公司...
Name: 309, dtype: object.json: ERROR - 422 Client Error: Unknown for url: https://api.mapbox.com/geocoding/v5/mapbox.places/0%0Aaddress%20%20%20%20GRUNDFOS%20Pumps(Shanghai)%20Co.%20LTD%20%E6%A0%BC%E5%85%B0%E5%AF%8C%E6%B0%B4%E6%B3%B5%EF%BC%88%E4%B8%8A%E6%B5%B7%EF%BC%89%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8...%0AName:%20309,%20dtype:%20object.json?access_token=pk.eyJ1IjoieG9yOTIzNyIsImEiOiJja2hsYTRydHAxa3l4MnJucXB0YXZzeXFyIn0._r9Zw8FZ4rvarTcrcCJf-w
Status code 422 from https://api.mapbox.com/geocoding/v5/mapbox.places/0
address    GRUNDFOS Pumps(Shanghai) Co. LTD 格兰富水泵（上海）有限公司...
Name: 309, dtype: object.json: ERROR - 422 Client Error: Unknown for url: https://api.mapbox.com/geocoding/v5/mapbox.places/0%0Aaddress%20%20%20%20GRUNDFOS%20Pumps(Shanghai)%20Co.%20LTD%20%E6%A0%BC%E5%85%B0%E5%AF%8C%E6%B0%B4%E6%B3%B5%EF%BC%88%E4%B8%8A%E6%B5%B7%EF%BC%89%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8...%0AName:%20309,%20dtype:%20object.json?access_token=pk.eyJ1IjoieG9yOTIzNyIsImEiOiJja2hsYTRydHAxa3l4MnJucXB0YXZzeXFyIn0._r9Zw8FZ4rvarTcrcCJf-w
Status code 422 from https://api.mapbox.com/geocoding/v5/mapbox.places/0
address    GRUNDFOS Pumps(Shanghai) Co. LTD 格兰富水泵（上海）有限公司...
Name: 309, dtype: object.json: ERROR - 422 Client Error: Unknown for url: https://api.mapbox.com/geocoding/v5/mapbox.places/0%0Aaddress%20%20%20%20GRUNDFOS%20Pumps(Shanghai)%20Co.%20LTD%20%E6%A0%BC%E5%85%B0%E5%AF%8C%E6%B0%B4%E6%B3%B5%EF%BC%88%E4%B8%8A%E6%B5%B7%EF%BC%89%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8...%0AName:%20309,%20dtype:%20object.json?access_token=pk.eyJ1IjoieG9yOTIzNyIsImEiOiJja2hsYTRydHAxa3l4MnJucXB0YXZzeXFyIn0._r9Zw8FZ4rvarTcrcCJf-w
Status code 422 from https://api.mapbox.com/geocoding/v5/mapbox.places/0
address    GRUNDFOS Pumps(Shanghai) Co. LTD 格兰富水泵（上海）有限公司...
Name: 309, dtype: object.json: ERROR - 422 Client Error: Unknown for url: https://api.mapbox.com/geocoding/v5/mapbox.places/0%0Aaddress%20%20%20%20GRUNDFOS%20Pumps(Shanghai)%20Co.%20LTD%20%E6%A0%BC%E5%85%B0%E5%AF%8C%E6%B0%B4%E6%B3%B5%EF%BC%88%E4%B8%8A%E6%B5%B7%EF%BC%89%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8...%0AName:%20309,%20dtype:%20object.json?access_token=pk.eyJ1IjoieG9yOTIzNyIsImEiOiJja2hsYTRydHAxa3l4MnJucXB0YXZzeXFyIn0._r9Zw8FZ4rvarTcrcCJf-w
Status code 422 from https://api.mapbox.com/geocoding/v5/mapbox.places/0
address    GRUNDFOS Pumps(Shanghai) Co. LTD 格兰富水泵（上海）有限公司...
Name: 309, dtype: object.json: ERROR - 422 Client Error: Unknown for url: https://api.mapbox.com/geocoding/v5/mapbox.places/0%0Aaddress%20%20%20%20GRUNDFOS%20Pumps(Shanghai)%20Co.%20LTD%20%E6%A0%BC%E5%85%B0%E5%AF%8C%E6%B0%B4%E6%B3%B5%EF%BC%88%E4%B8%8A%E6%B5%B7%EF%BC%89%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8...%0AName:%20309,%20dtype:%20object.json?access_token=pk.eyJ1IjoieG9yOTIzNyIsImEiOiJja2hsYTRydHAxa3l4MnJucXB0YXZzeXFyIn0._r9Zw8FZ4rvarTcrcCJf-w
Status code 422 from https://api.mapbox.com/geocoding/v5/mapbox.places/0
address    GRUNDFOS Pumps(Shanghai) Co. LTD 格兰富水泵（上海）有限公司...
Name: 309, dtype: object.json: ERROR - 422 Client Error: Unknown for url: https://api.mapbox.com/geocoding/v5/mapbox.places/0%0Aaddress%20%20%20%20GRUNDFOS%20Pumps(Shanghai)%20Co.%20LTD%20%E6%A0%BC%E5%85%B0%E5%AF%8C%E6%B0%B4%E6%B3%B5%EF%BC%88%E4%B8%8A%E6%B5%B7%EF%BC%89%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8...%0AName:%20309,%20dtype:%20object.json?access_token=pk.eyJ1IjoieG9yOTIzNyIsImEiOiJja2hsYTRydHAxa3l4MnJucXB0YXZzeXFyIn0._r9Zw8FZ4rvarTcrcCJf-w
Status code 422 from https://api.mapbox.com/geocoding/v5/mapbox.places/0
address    Jiangsu Yiwen Microelectronics 江苏邑文微电子科技有限公司, ...
Name: 429, dtype: object.json: ERROR - 422 Client Error: Unknown for url: https://api.mapbox.com/geocoding/v5/mapbox.places/0%0Aaddress%20%20%20%20Jiangsu%20Yiwen%20Microelectronics%20%E6%B1%9F%E8%8B%8F%E9%82%91%E6%96%87%E5%BE%AE%E7%94%B5%E5%AD%90%E7%A7%91%E6%8A%80%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8,%20...%0AName:%20429,%20dtype:%20object.json?access_token=pk.eyJ1IjoieG9yOTIzNyIsImEiOiJja2hsYTRydHAxa3l4MnJucXB0YXZzeXFyIn0._r9Zw8FZ4rvarTcrcCJf-w

In [34]:
xl_file4

,Status,Account ID,Account Name,Country,Tier Class,Industry,Main Contact,State,Postal Code,address,latitude,longitude,Full_Address
0,Active,10000200,(주)고려아카데미컨설팅,South Korea,-,NaN,NaN,Seoul,08512,"(주)고려아카데미컨설팅, South Korea",37.4794,126.887,"32 Digital-ro 9-gil, Gasan-dong, Geumcheon-gu,..."
1,Active,1000495,"3D Industrial Imaging Co., Ltd.",South Korea,-,NaN,NaN,None,None,"3D Industrial Imaging Co., Ltd., South Korea",None,None,None
2,Active,1000496,3H SYSTEM,South Korea,-,NaN,NaN,None,None,"3H SYSTEM, South Korea",None,None,None
3,Active,1000497,"3SSOFT CO.,LTD.",South Korea,-,NaN,NaN,Seoul,06776,"3SSOFT CO.,LTD., South Korea",37.4754,127.042,"262 Yangjae-dong, Seocho-gu, Seoul, South Korea"
4,Active,1000498,3ware (주)쓰리웨어,South Korea,-,NaN,NaN,Seoul,08510,"3ware (주)쓰리웨어, South Korea",37.4813,126.884,"50-3 Gasan-dong, Geumcheon-gu, Seoul, South Korea"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,Active,1000465,ZENITH&COMPANY (주)제니스 앤 컴퍼니,South Korea,-,NaN,NaN,None,None,"ZENITH&COMPANY (주)제니스 앤 컴퍼니, South Korea",None,None,None
973,Active,1000187,"ZensM CO., Ltd.",South Korea,-,NaN,NaN,None,None,"ZensM CO., Ltd., South Korea",None,None,None
974,Active,1000122,Zing Semiconductor Corporation 上海新昇半导体科技有限公司,China,-,Semiconductor,JiangLan,Shanghai,None,"Zing Semiconductor Corporation 上海新昇半导体科技有限公司, ...",31.2304,121.474,"Shanghai, China"
975,Active,10000193,ZPMC SMART SOLUTIONS GROUP,China,-,NaN,"Wang, Zhenguo",None,None,"ZPMC SMART SOLUTIONS GROUP, China",None,None,None
976,Blocked,10000199,北京博珥佐特软件科技有限公司,South Korea,-,NaN,NaN,None,None,"北京博珥佐特软件科技有限公司, South Korea",None,None,None

In [36]:
xl_file4['latitude'].isnull().sum()

532

In [37]:
xl_file4['State'].isnull().sum()

532

In [38]:
xl_file4['Postal Code'].isnull().sum()

667

As a result, Mapbox API did not return any information for remaining companies.